<a href="https://colab.research.google.com/github/MichelleRitaM/MichelleRitaM/blob/main/ChurnRate.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
import pandas
data = pandas.read_csv("https://can01.safelinks.protection.outlook.com/?url=https%3A%2F%2Fmodcom.co.ke%2Fdata%2Fdatasets%2FChurn.csv&data=05%7C01%7Cjdavid%40mastercardfdn.org%7C10a129ff256e4820e71d08da44bd5890%7C4147e1f43036409788f338aa014e5993%7C0%7C0%7C637897877710968445%7CUnknown%7CTWFpbGZsb3d8eyJWIjoiMC4wLjAwMDAiLCJQIjoiV2luMzIiLCJBTiI6Ik1haWwiLCJXVCI6Mn0%3D%7C3000%7C%7C%7C&sdata=yfbNh6s2TEZXdTH5V%2BgPGN30XC1xZUsLo0StWE%2F5slQ%3D&reserved=0")
data.head(5)

,customerID,gender,SeniorCitizen,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,No,1,No,No Phone,DSL,No,Yes,No,No,No,No,Month,Yes,Electronic,29.85,256.50,No
1,5575-GNVDE,Male,0,No,34,Yes,No,DSL,Yes,No,Yes,No,No,No,One year,No,Mailed,56.95,8684.80,No
2,3668-QPYBK,Male,0,No,2,Yes,No,DSL,Yes,Yes,No,No,No,No,Month,Yes,Mailed,53.85,8672.45,Yes
3,7795-CFOCW,Male,0,No,45,No,No Phone,DSL,Yes,No,Yes,Yes,No,No,One year,No,Bank,42.30,8670.10,No
4,9237-HQITU,Female,0,No,2,Yes,No,Fiber,No,No,No,No,No,No,Month,Yes,Electronic,70.70,8594.40,Yes

In [7]:
data.isnull().sum()

customerID          0
gender              0
SeniorCitizen       0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [8]:
data.groupby("gender").size()

gender
Female    3488
Male      3555
dtype: int64

In [9]:
data.groupby("SeniorCitizen").size()

SeniorCitizen
0    5901
1    1142
dtype: int64

In [10]:
data.groupby("Dependents").size()

Dependents
No     4933
Yes    2110
dtype: int64

In [11]:
data['tenure'].describe()

count    7043.000000
mean       32.371149
std        24.559481
min         0.000000
25%         9.000000
50%        29.000000
75%        55.000000
max        72.000000
Name: tenure, dtype: float64

In [12]:
data.groupby("PhoneService").size()

PhoneService
No      682
Yes    6361
dtype: int64

In [13]:
data.groupby("MultipleLines").size()

MultipleLines
No          3390
No Phone     682
Yes         2971
dtype: int64

In [14]:
data.groupby("InternetService").size()

InternetService
DSL      2421
Fiber    3096
No       1526
dtype: int64

In [15]:
data.groupby("OnlineSecurity").size()

OnlineSecurity
No             3498
No Internet    1526
Yes            2019
dtype: int64

In [16]:
data.groupby("OnlineBackup").size()

OnlineBackup
No             3088
No Internet    1526
Yes            2429
dtype: int64

In [17]:
data.groupby("DeviceProtection").size()

DeviceProtection
No             3095
No Internet    1526
Yes            2422
dtype: int64

In [18]:
data.groupby("TechSupport").size()

TechSupport
No             3473
No Internet    1526
Yes            2044
dtype: int64

In [19]:
data.groupby("StreamingTV").size()

StreamingTV
No             2810
No Internet    1526
Yes            2707
dtype: int64

In [20]:
data.groupby("StreamingMovies").size()

StreamingMovies
No             2785
No Internet    1526
Yes            2732
dtype: int64

In [21]:
data.groupby("Contract").size()

Contract
Month       3875
One year    1473
Two year    1695
dtype: int64

In [22]:
data.groupby("PaperlessBilling").size()

PaperlessBilling
No     2872
Yes    4171
dtype: int64

In [23]:
data['MonthlyCharges'].describe()

count    7043.000000
mean       64.761692
std        30.090047
min        18.250000
25%        35.500000
50%        70.350000
75%        89.850000
max       118.750000
Name: MonthlyCharges, dtype: float64

In [24]:
data['TotalCharges'].describe()

count    7043.000000
mean     2281.524308
std      2266.643255
min        18.800000
25%       401.675000
50%      1395.050000
75%      3790.400000
max      8684.800000
Name: TotalCharges, dtype: float64

In [25]:
data.groupby("PaymentMethod").size()

PaymentMethod
Bank           1544
Credit card    1522
Electronic     2365
Mailed         1612
dtype: int64

In [26]:
data.groupby("Churn").size()

Churn
No     5174
Yes    1869
dtype: int64

In [27]:
data['gender'].replace({'Female':0, 'Male':1}, inplace=True)
data['Dependents'].replace({'Yes':0, 'No':1}, inplace=True)
data['PhoneService'].replace({'Yes':0, 'No':1}, inplace=True)
data['MultipleLines'].replace({'Yes':0, 'No':1,'No Phone':2}, inplace=True)
data['InternetService'].replace({'DSL':0, 'Fiber':1,'No':2}, inplace=True)
data['OnlineSecurity'].replace({'Yes':0, 'No':1,'No Internet':2}, inplace=True)
data['OnlineBackup'].replace({'Yes':0, 'No':1,'No Internet':2}, inplace=True)
data['DeviceProtection'].replace({'Yes':0, 'No':1,'No Internet':2}, inplace=True)
data['TechSupport'].replace({'Yes':0, 'No':1,'No Internet':2}, inplace=True)
data['StreamingTV'].replace({'Yes':0, 'No':1,'No Internet':2}, inplace=True)
data['StreamingMovies'].replace({'Yes':0, 'No':1,'No Internet':2}, inplace=True)
data['Contract'].replace({'Month':0, 'One year':1,'Two year':2}, inplace=True)
data['PaperlessBilling'].replace({'Yes':0, 'No':1}, inplace=True)
data['PaymentMethod'].replace({'Bank':0, 'Credit card':1,'Electronic':2, 'Mailed':3}, inplace=True)
data.head()

,customerID,gender,SeniorCitizen,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,0,0,1,1,1,2,0,1,0,1,1,1,1,0,0,2,29.85,256.50,No
1,5575-GNVDE,1,0,1,34,0,1,0,0,1,0,1,1,1,1,1,3,56.95,8684.80,No
2,3668-QPYBK,1,0,1,2,0,1,0,0,0,1,1,1,1,0,0,3,53.85,8672.45,Yes
3,7795-CFOCW,1,0,1,45,1,2,0,0,1,0,0,1,1,1,1,0,42.30,8670.10,No
4,9237-HQITU,0,0,1,2,0,1,1,1,1,1,1,1,1,0,0,2,70.70,8594.40,Yes

In [28]:
#We do with a new set of 11col

newList = data[['gender','SeniorCitizen','Dependents','tenure','MultipleLines','OnlineBackup',
                'TechSupport','Contract','PaymentMethod','MonthlyCharges','InternetService','Churn']]

array = newList.values
X = array[:,1:11]#total charge
Y = array[:,11 ] # 
len(X)

7043

In [29]:
#Balancing the target varriable
from imblearn.over_sampling import SMOTE
balancing = SMOTE()
newX, newY = balancing.fit_resample(X,Y)
newX
#Above we create synthetic data for Yes, hence increasing records from 7k to 10k

#Features selection:

array([[  0.        ,   1.        ,   1.        , ...,   2.        ,
         29.85      ,   0.        ],
       [  0.        ,   1.        ,  34.        , ...,   3.        ,
         56.95      ,   0.        ],
       [  0.        ,   1.        ,   2.        , ...,   3.        ,
         53.85      ,   0.        ],
       ...,
       [  0.54763881,   0.54763881,  19.45236119, ...,   2.        ,
         90.41905553,   1.        ],
       [  1.        ,   1.        ,  28.10411718, ...,   0.89588282,
        101.06573634,   1.        ],
       [  0.        ,   1.        ,  19.49726505, ...,   2.        ,
         85.23743163,   1.        ]])

In [30]:
from imblearn.over_sampling import SMOTE
balancing = SMOTE()
newX, newY = balancing.fit_resample(X,Y)
df1 = pandas.DataFrame(newX)
df2 =pandas.DataFrame(newY)

In [31]:
#RFE
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier, AdaBoostClassifier
estimator = AdaBoostClassifier(random_state=42,n_estimators=100)
#Apply above estimator below
#here we specify 10 features, step the number of features to remove per iteration
selector = RFE(estimator, n_features_to_select =10, step = 1)
selector = selector.fit(newX,newY)
filter = selector.support_
ranking = selector.ranking_
print("10 best features", filter)
print("Ranking", ranking)

newList = data[['gender','SeniorCitizen','Dependents','tenure','MultipleLines','OnlineBackup','TechSupport','Contract','PaymentMethod','MonthlyCharges']]

10 best features [ True  True  True  True  True  True  True  True  True  True]
Ranking [1 1 1 1 1 1 1 1 1 1]

In [32]:
from sklearn import model_selection
X_train, X_test, Y_train,Y_test = model_selection.train_test_split(newX,newY, test_size = 0.3,
                                                                   random_state=42)

In [33]:
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
model.fit(X_train, Y_train)

GradientBoostingClassifier()

In [34]:
predicted_churn = model.predict(X_test)
print("Predicted Churn", predicted_churn)
print("Y test", Y_test)

Predicted Churn ['Yes' 'No' 'No' ... 'No' 'Yes' 'No']
Y test ['Yes' 'No' 'No' ... 'Yes' 'Yes' 'No']

In [35]:
from sklearn.metrics import accuracy_score
print("Accuracy score", accuracy_score(predicted_churn, Y_test))

Accuracy score 0.8518518518518519

In [36]:
#test
from sklearn.metrics import classification_report
print(classification_report(predicted_churn,Y_test))

              precision    recall  f1-score   support

          No       0.85      0.86      0.85      1554
         Yes       0.86      0.85      0.85      1551

    accuracy                           0.85      3105
   macro avg       0.85      0.85      0.85      3105
weighted avg       0.85      0.85      0.85      3105

In [37]:
from sklearn.metrics import confusion_matrix
print(confusion_matrix(predicted_churn,Y_test))

[[1334  220]
 [ 240 1311]]

In [38]:
customer =[[1,1,1,32.371149,0,0,1,1,0, 64.761692]]
churn = model.predict(customer)
print("The churn is",churn)

The churn is ['No']