<a href="https://colab.research.google.com/github/MichelleRitaM/MichelleRitaM/blob/main/DeepLearning1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [88]:
#Visualize your ANN
!pip install ann_visualizer
!pip install graphviz

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: ann_visualizer in /usr/local/lib/python3.7/dist-packages (2.5)
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: graphviz in /usr/local/lib/python3.7/dist-packages (0.10.1)

In [89]:
import pandas
dataset = pandas.read_csv("http://modcom.co.ke/datasets/Churn_Modelling.csv")
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [90]:
# Encode gender
dataset['Geography'].replace({'Spain':0,'France':1,'Germany':2}, inplace=True)
dataset['Gender'].replace({'Male':0,'Female':1}, inplace=True)

In [91]:
#Check for empties
dataset.isnull().sum()

RowNumber          0
CustomerId         0
Surname            0
CreditScore        0
Geography          0
Gender             0
Age                0
Tenure             0
Balance            0
NumOfProducts      0
HasCrCard          0
IsActiveMember     0
EstimatedSalary    0
Exited             0
dtype: int64

In [92]:
#split X,Y
array = dataset.values
X = array[:, 3:13]
Y = array[:, 13]
Y = Y.astype('int')

In [93]:
#split your data to training 70%, Testing 30%
from sklearn import model_selection
X_train, X_test, Y_train, Y_test = model_selection.train_test_split(X, Y,
                                                                    test_size=0.30,
                                                                    random_state=42)

In [94]:
#Standardise the X_train
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test= scaler.fit_transform(X_test)

In [95]:
#Deep Learning/ANN(Artificial Neural Networks)
from keras.models import Sequential
from keras.layers import Dense
model = Sequential()
#input Layer with 4 Neurons, activate with relu
model.add(Dense(4,input_dim=10, activation="relu"))

#hidden layer with 6 neurons, activate with relu
model.add(Dense(6, activation="relu"))

#hidden layer with 12 neurons, activate with sigmoid
#model.add(Dense(12, activation="sigmoid"))
#Output layer with 1 neuron, activate with softmax
model.add(Dense(1, activation="sigmoid"))

In [96]:
#Visualize your ANN
from ann_visualizer.visualize import ann_viz
ann_viz(model, view=True,title='My Churn ANN', filename="Graph1.gv")

In [97]:
#compile the model
model.compile(loss ="binary_crossentropy", optimizer= "adam",
              metrics =['accuracy'])
#activation functions
# Loss Functions
# Optimizers

In [99]:
#epoch - is the number of times/cycle a neural network runs with complete data
#batch_size = teh number of batches per 1 cycle 16,32,64,128
model.fit(X_train, Y_train, epochs=50, batch_size=32)
#At this step there is a cross validation

Epoch 1/50
219/219 [==============================] - 1s 3ms/step - loss: 0.3401 - accuracy: 0.8593
Epoch 2/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8619
Epoch 3/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8606
Epoch 4/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8616
Epoch 5/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8619
Epoch 6/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8616
Epoch 7/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8611
Epoch 8/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8620
Epoch 9/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8604
Epoch 10/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8614
Epoch 11/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8606
Epoch 12/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8619
Epoch 13/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8613
Epoch 14/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3403 - accuracy: 0.8613
Epoch 15/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8606
Epoch 16/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8616
Epoch 17/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8607
Epoch 18/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8610
Epoch 19/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8611
Epoch 20/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8619
Epoch 21/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8609
Epoch 22/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8619
Epoch 23/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8604
Epoch 24/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8614
Epoch 25/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8614
Epoch 26/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8619
Epoch 27/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8613
Epoch 28/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8616
Epoch 29/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8614
Epoch 30/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8620
Epoch 31/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8593
Epoch 32/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8619
Epoch 33/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3401 - accuracy: 0.8621
Epoch 34/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3402 - accuracy: 0.8616
Epoch 35/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3397 - accuracy: 0.8600
Epoch 36/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8616
Epoch 37/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8611
Epoch 38/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8614
Epoch 39/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3396 - accuracy: 0.8609
Epoch 40/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8616
Epoch 41/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8619
Epoch 42/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8609
Epoch 43/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8631
Epoch 44/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8613
Epoch 45/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8607
Epoch 46/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8604
Epoch 47/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8621
Epoch 48/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3400 - accuracy: 0.8617
Epoch 49/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3398 - accuracy: 0.8611
Epoch 50/50
219/219 [==============================] - 0s 2ms/step - loss: 0.3399 - accuracy: 0.8604

In [100]:
score = model.evaluate(X_test,Y_test)
print("Score", score)

94/94 [==============================] - 0s 2ms/step - loss: 0.3326 - accuracy: 0.8667
Score [0.3325834572315216, 0.8666666746139526]

In [106]:
customer = [[619, 2, 0, 42, 2, 0.00, 1, 1, 1, 101348.88]]
predictions = (model.predict(customer) > 0.5).astype(int)
predictions

array([[0]])